<h1>New Submission</h1>

<%= form_for :submission, url: submissions_path do |f| %>

	<%= f.label :date_of_show, "Upcoming Show" %>
	<%= f.select(:date_of_show, @upcoming_shows) %>

	<%= f.label :guess1, "Song 1" %>
	<%= f.select(:guess1, @um_songs) %>

	<%= f.label :guess2, "Song 2" %>
	<%= f.select(:guess2, @um_songs) %>

	<%= f.label :guess3, "Song 3" %>
	<%= f.select(:guess3, @um_songs) %>

	<%= f.label :guess4, "Cover" %>
	<%= f.select(:guess4, @cover_songs) %>

	<%= f.submit "Submit Guesses", class: "btn btn-primary" %>
<% end %>

