<header class="navbar navbar-inverse">
	<div class="container">
		<%= link_to "Umphrey's Pick 3", "#", id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Sign-Up", "#" %></li>
				<li><%= link_to "Log-In", "#" %></li>
				<li><%= link_to "Leaderboard", "#" %></li>
				<li><%= link_to "Shows", "#" %></li>
			</ul>
		</nav>
	</div>
</header>